<!DOCTYPE html> 
<html> 
<head>
<meta charset="utf-8">
<title> Login Page </title>

</head>  
<body>  
    <center> <h1> Vaccination Login Form </h1> </center> 
    <form>
        <div class="container"> 
            <label>Username : </label> 
            <input type="text" placeholder="Enter Username" name="username" required>
            <p></p>
            <label>Password : </label> 
            <input type="password" placeholder="Enter Password" name="password" required>
            <p></p>
            <button type="submit">Login</button> 
            <p></p>
            <input type="checkbox" checked="checked"> Remember me 
            <button type="button" class="cancelbtn"> Cancel</button> 
            Forgot <a href="#"> password? </a> 
        </div>
    </form>   
</body>   
</html>