<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vaccination Portal</title>
    </head>
    <body>
        <center> <h1>Welcome to the Vaccination Portal</h1> </center>
        <h2><p>Note: All the fields are required</p></h2>

       <form action="Thankyou.html" method="GET">

           <label for="fn">First Name:</label>
           <input id="fn" type="text" name="" placeholder="First Name" required>
           
           <label for="ln">Last Name:</label>
           <input id="ln" type="text" name="" placeholder="Last Name" required>

           <p></p>

           <label for="mail">Email:</label>
           <input id="mail" type="email" name="" placeholder="Email" required>

           <label for="pwd">Password:</label>
           <input id="pwd" type="password" name="" placeholder="Password" required>

           <p></p>

           <label for="nmbr">Phone:</label>
           <input id="nmbr" type="tel" name="" placeholder="123-45-6789"  required>

           <p></p>

           <label for="add">Home Address:</label>
           <input id="add" type="text" name="" placeholder="Home Address" required>

           <p><h3>Your age group:</h3> </p>
           <label for="A">18-45</label>
           <input id="A" type="radio" name="age" placeholder="Home Address" required>

           <label for="B">Over 45</label>
           <input id="B" type="radio" name="age" placeholder="Home Address" required>

           <p></p>
           <input type="submit">

       </form>
    </body>
</html>